<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customercategory.name %>
</p>

<%= link_to 'Edit', edit_customercategory_path(@customercategory) %> |
<%= link_to 'Back', customercategories_path %>
