<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://dacm12.comxa.com/assets/ico/favicon.png">

    <!-- Bootstrap core CSS -->
    <link href="http://dacm12.comxa.com/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://dacm12.comxa.com/assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://dacm12.comxa.com/assets/css/main.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">VIANA</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">HOME</a></li>
            <li><a href="#">ITINERARIES</a></li>
            <li><a href="#">BUY TICKET</a></li>
            <li><a href="#">COURIER</a></li>
            <li><a href="#">TICKET PRICES</a></li>
            <li><a href="#">CONTACT</a></li>
            <li><a data-toggle="modal" data-target="#myModal" href="#myModal"><i class="fa fa-envelope-o"></i></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
          <br>
          <br>
          <br>
          <br>
				<h1>Welcome to <b>Viana</b></h1>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- headerwrap -->


	<div class="container w">
		<div class="row centered">
			<br><br>
			<div class="col-lg-4">
				<i class="fa fa-trophy"></i>
				<h4>Tegucigalpa</h4>
				<p>Gasolinera Puma Presidencial Boulevard Fuerzas Armadas
          <br>
          2225-6583 or 2225-6584
        </p>
			</div><!-- col-lg-4 -->

			<div class="col-lg-4">
				<i class="fa fa-laptop"></i>
				<h4>San Pedro Sula</h4>
					<p>Ave. Circunvalación, Plaza Comercial Geosur
          <br>
            2516-1644 or 2516-1649
          </p>
        </div><!-- col-lg-4 -->
			<div class="col-lg-4">
				<i class="fa fa-trophy"></i>
				<h4>Ceiba</h4>
					<p>Gasolinera Puma Miramar
          <br>
            2441-2330 or 2441-2251
          </p>
      </div><!-- col-lg-4 -->
		</div><!-- row -->
		<br>
		<br>
	</div><!-- container -->
	
	<div id="r">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h4>History</h4>
					    <p>Viana was founded in 1997, providing services to land transport of passengers and messaging between the cities of Tegucigalpa and San Pedro Sula.</p>
              <p>By 1998 extends its operation to the city of La Ceiba. Thanks to the preference of our customers today Viana has become a major trucking companies nationwide. Innovating in the service concepts that ensure our customers safety, timeliness and quality.</p> 
              <p>In 2006 Transport Viana was awarded as number one in its category with Topbrands award, the independent authority that promotes the discipline of branding and recognizes the most outstanding brands.</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- r wrap -->
	
	
	<!-- FOOTER -->
	<div id="f">
		<div class="container">
			<div class="row centered">
				<a href="https://www.facebook.com/vianatransportes"><i class="fa fa-facebook"></i></a>
		
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- Footer -->


	<!-- MODAL FOR CONTACT -->
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="myModalLabel">contact us</h4>
	      </div>
	      <div class="modal-body">
		        <div class="row centered">
              <p>We are available from 7:00 AM to 7:00PM, so don't hesitate to contact us.</p>
		        	<p>
		        		Gasolinera Puma Presidencial, Boulevard Fuerzas Armadas<br/>
						Tegucigalpa, Honduras.<br/>
						(504) 2225-6583, 2225-6584<br/>
		        	</p>
		        	<div id="mapwrap">
		<iframe height="300" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.es/maps?t=m&amp;ie=UTF8&amp;ll=52.752693,22.791016&amp;spn=67.34552,156.972656&amp;z=2&amp;output=embed"></iframe>
					</div>	
		        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-danger" data-dismiss="modal">Save & Go</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://dacm12.comxa.com/assets/js/bootstrap.min.js"></script>
  </body>
</html>