<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @seatcategory.name %>
</p>

<%= link_to 'Edit', edit_seatcategory_path(@seatcategory) %> |
<%= link_to 'Back', seatcategories_path %>
