<br>
<br>
<br>

<div lass="container">
  <div class="row centered">
	  <div class="col-lg-2 col-lg-offset-5">
      <div class="table-responsive">
      <table class="table table-hover">
  <thead>
    <tr>
      <th class="danger">Year</th>
      <th class="danger">Total Customers</th>
      <th class="danger">Yearly Earnings</th>
    </tr>
  </thead>

  <tbody>
    <% @query1.each do |q| %>
      <tr>
          <td><%= q.year %></td>
          <td><%= q.total %></td>
          <td>$<%= q.tot %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
  </div><!-- row -->
</div>
</div>