<br>
<br>
<br>

<div lass="container">
  <div class="row centered">
	  <div class="col-lg-10 col-lg-offset-1">
      <div class="table-responsive">
      <table class="table table-borderless">
  <thead>
    <tr>
      <th class="danger">Plate</th>
      <th class="danger">Capacity</th>
    </tr>
  </thead>

  <tbody>
    <% @buses.each do |bus| %>
      <tr>
        <td><%= bus.plate %></td>
        <td><%= bus.capacity %></td>
        <td class="btn btn-success"><%= link_to 'Edit', edit_bus_path(bus) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

