<!DOCTYPE html>
<html>
<head>
  <title>Viana</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--<div>
    /* <% if user_signed_in?%>
    /* <% if current_user.admin?%>
        You're an admin
    /*  <% else %>
        You're not an admin
    /*  <%end%>
    /* <% end %>
  </div> -->
  
<%= yield %>

</body>
</html>
