<!DOCTYPE html>
<html>
<head>
  <title>Viana</title>
  <link rel="shortcut icon" href="http://rortega.host22.com/img/kh2.png">
      <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://dacm12.comxa.com/assets/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://dacm12.comxa.com/assets/js/bootstrap.min.js"></script>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <!-- Aqui va el Ticketbills-->
  <%= csrf_meta_tags %>
</head>
<body>
  
<%= yield %>
</body>
</html>
