<!DOCTYPE html>
<html>
<head>
  <title>Viana</title>
  <link rel="shortcut icon" href="http://rortega.host22.com/img/kh2.png">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<%= yield %>

</body>
</html>
